main {
    padding: 60px 20px;
    max-width: 750px;
    margin: 0 auto;
  
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #264653;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(220, 12, 12, 0.629);
}

label {
    font-weight: 500;
    color: #333;
}

input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    resize: vertical;
}

button {
    background-color: #cc4523;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c3694;
}

footer {
    text-align: center;
    padding: 10px 20px; 
    background-color: #264653;
    color: #f0ead8;
}