* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F6F6;
}

header {
    background-color: #264653;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 16px 24px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}