* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F6F6;
}

header {
    background-color: #264653;
    position: fixed;
    top: 0;
    left: -10px;
    height: 100vh;
    width: 250px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}