#intro {
    position: relative;
    background-image: url(/img/background\ section\ intro.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    gap: 40px;
    flex-wrap: wrap;
}

.intro-texto {
    flex: 1 1 50%;
    max-width: 50%;
    padding-left: 20px;
    text-align: left;
}

.intro-texto h1 {
    color: #264653;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    margin-bottom: 20px;
    line-height: 1.2;
    max-width: 45%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.intro-texto h4 {
    color: #6B6B6B;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    margin-left: 8px;
    margin-top: -10px;
}

.intro-imagem {
    flex: 1 1 40%;
    max-width: 480px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.intro-imagem img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.cta-button {
    margin-top: 30px;
    padding-left: 0;
}

.cta-button a {
    display: inline-block;
    background-color: #cc4523;
    padding: 16px 36px;
    color: #F7F7F7;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: background-color 0.8s ease-in-out;
    box-shadow: 0 4px 8px rgba(204, 69, 35, 0.4);
}

.cta-button a:hover {
    transform: scale(1.05);
    background-color: #b33c1e;
    box-shadow: 0 8px 16px rgba(179, 60, 30, 0.5);
}

/* Descrição */
#descricao {
    background-color: #264653;
    color: #fff;
    padding: 60px 80px;
}

#descricao h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400; 
}

#descricao h2 strong {
    font-weight: 800;
    color: #f4a261;
    font-size: 1.2em;
}

#descricao p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 1000px;
    margin-top: 15px;
    
}

#descricao .img1_descricao {
    display: flex;
    position: relative;
    margin: 0 1150px;
    height: 200px;
    width: auto;
    margin-bottom: 150px;
}